:host {
  display: block;
  block-size: 100dvh;
}

.layout {
  display: grid;
  grid-template-columns: 232px 1fr;
  block-size: 100%;
}

.main {
  display: grid;
  grid-template-rows: var(--layout-header-height) 1fr auto;
  min-inline-size: 0;
  max-height: 100vh;
}

.content {
  padding: 1.5rem;
  overflow: auto;
  background: var(--color-bg-second);
  max-height: calc(100vh - var(--layout-header-height));
}
