.summary {
    padding: 60px;
}

.top-container {
    display: flex;
    align-items: center;
    gap: 26px;
    justify-self: start;
    margin-bottom: 40px;
}

.subheadline {
    font-size: 27px;
    color: #2A3647;
    font-weight: 400;
}

.blueline {
    background: var(--brand-secondary-500);
    height: 60px;
    width: 3px;
    border-radius: 5px;
}

.urgent-circle-1 {
    border-radius: 50%;
    background: #FF3D00;
    height: 69px;
    width: 69px;
    display: flex;
    justify-content: center;
}

.urgent-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 590px;
    height: 180px;
    border-radius: 30px;
    background: white;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    padding-left: 65px;
    padding-right: 65px;
    transition: 75ms;
}

.urgent-container-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tasks-counters-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.tasks-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 177px;
    height: 180px;
    border-radius: 30px;
    background: white;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    transition: 75ms;

    >.right-element {
        margin-left: 0px;
    }
}

.tasks-container:hover {
    background: var(--brand-primary-500);
    border-radius: 30px;
    scale: 1.05;

    h1 {
        color: white;
    }

    .container-text {
        color: white;
    }

    .icon-circle-1 {
        background: white;
    }

    .edit {
        display: none;
    }

    .editdark {
        display: block;
    }
}

.to-do-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 180px;
    border-radius: 30px;
    background: white;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    transition: 75ms;
}

.to-do-container:hover {
    background: var(--brand-primary-500);
    border-radius: 30px;
    scale: 1.05;

    h1 {
        color: white;
    }

    .container-text {
        color: white;
    }

    .icon-circle-1 {
        background: white;
    }

    .edit {
        display: none;
    }

    .editdark {
        display: block;
    }
}

.todo-and-done {
    display: flex;
    gap: 30px;
}

.check-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 180px;
    border-radius: 30px;
    background: white;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    transition: 75ms;
}

.check-container:hover {
    background: var(--brand-primary-500);
    border-radius: 30px;
    scale: 1.05;

    h1 {
        color: white;
    }

    .container-text {
        color: white;
    }

    .icon-circle-1 {
        background: white;
    }

    .check {
        display: none;
    }

    .check-dark {
        display: block;
    }
}

.check-dark {
    display: none;
}

.urgent-container:hover {
    background: var(--brand-primary-500);
    border-radius: 20px;
    scale: 1.05;

    h1 {
        color: white;
    }

    .container-text {
        color: white;
    }

    .icon-circle-1 {
        background: white;
    }

    span {
        color: white;
    }
}

h1 {
    font-size: 64px;
    color: black;
    margin-bottom: 0px;
}

.editdark {
    display: none;
}

.lower-container {
    display: flex;
    justify-content: start;
    gap: 60px;
}

.icon-circle-1 {
    border-radius: 50%;
    background: var(--brand-primary-500);
    height: 69px;
    width: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-element {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 20px;
}

.container-text {
    font-size: var(--font-size-xl);
    color: var(--brand-primary-500);
    text-align: center;
}

.goodmorning-text {
    font-size: 47px;
    font-weight: 500;
    color: var(--brand-primary-500);
    margin-bottom: 0px;
}

.name-text {
    font-size: 64px;
    font-weight: 700;
    color: #2AAAE2;
    margin-bottom: 0px;
}

.seperator-line {
    height: 100px;
    width: 2px;
    background: #D1D1D1;
}

.date-and-deadline {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 10px;
}

.date {
    font-size: 21px;
    font-weight: 700;
    color: var(--brand-primary-500);
}

.deadline-text {
    font-size: 16px;
    font-weight: 400;
    color: var(--brand-primary-500);
}

.right-elements {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.blueline2 {
    display: none;
    background: var(--brand-secondary-500);
    height: 3px;
    width: 120px;
    border-radius: 5px;
}

@media (max-width: 800px) {
    .summary {
        padding: 0px;
    }

    .right-elements {
        display: none;
    }

    .left-elements {
        width: 100%;
    }

    h1 {
        font-size: 47px;
    }

    .blueline {
        display: none;
    }

    .blueline2 {
        display: block;
    }

    .top-container {
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }

    .urgent-container,
    .check-container,
    .to-do-container,
    .tasks-container {
        width: 100%;
        padding: 15px;
        height: 110px;
        border-radius: 20px;
    }

    .right-element {
        margin-left: 12px;
    }

    .urgent-container {
        justify-content: space-around;
    }

    .urgent-circle-1,
    .icon-circle-1 {
        height: 44px;
        width: 44px;
    }

    .check,
    .urgent,
    .edit,
    .check-dark {
        width: 22px!important;
        height: 22px!important;
    }

    .container-text {
        font-size: 14px;
    }

    .seperator-line {
        height: 68px;
    }

    .date {
        font-size: 16px;
    }

    .task-container:hover {
        border-radius: 20px;
    }

    .urgent-container:hover,
    .check-container:hover,
    .to-do-container:hover,
    .tasks-container:hover {
        border-radius: 20px;
        scale: 1;
    }
}