.summary {
    padding: 60px;
}

.input-fields {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.redcross {
    color: red;
}

input {
    width: 100%;
    font-size: 20px;
    padding: 12px 21px;
    border-radius: 10px;
    background: white;
    color: black;
    border: 1px solid #D1D1D1;
    outline: none;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.input-headlines {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 0px;
    color: var(--brand-primary-500);
}

.top-container {
    display: flex;
    align-items: center;
    gap: 26px;
    justify-self: start;
    margin-bottom: 40px;
}

h1 {
    font-size: 64px;
    color: black;
    margin-bottom: 0px;
}

.middle-container {
    display: flex;
    justify-content: start;
    gap: 60px;
}

.bottom-container {
    display: flex;
    justify-content: space-between;
}

.right-elements {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

@media (max-width: 800px) {
    .summary {
        padding: 0px;
    }

    .right-elements {
        display: none;
    }

    .left-elements {
        width: 100%;
    }

    h1 {
        font-size: 47px;
    }

    .top-container {
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }
}